/.Day1.java._trace
/.Day2.java._trace
/.Day3.java._trace
/.Day4.java._trace
/.Day5.java._trace
/.Day6.java._trace
/.Day7.java._trace
/.Day8.java._trace
/.Day9.java._trace
/.Day10.java._trace
/.Day11.java._trace
/.Day12.java._trace
/.Day13.java._trace
/.Day14.java._trace
/.Day15.java._trace
/.Entity.java._trace
/.MyCoordinate.java._trace
/.Day16.java._trace
/.Day17.java._trace
/.Day18.java._trace
/.MiniLang.java._trace
/.Day19.java._trace
/.Day20.java._trace
/.Day18.xtendbin
/.Day19.xtendbin
/.Day20.xtendbin
/.MiniLang.xtendbin
/Day18.java
/Day19.java
/Day20.java
/MiniLang.java
