/.Day1.java._trace
/.Day2.java._trace
/.Day3.java._trace
/.Day4.java._trace
/.Day5.java._trace
/.Day6.java._trace
/.Day7.java._trace
/.Day8.java._trace
/.Day9.java._trace
/.Day10.java._trace
/.Day11.java._trace
/.Day12.java._trace
/.Day13.java._trace
/.Day14.java._trace
/.Day15.java._trace
/.Entity.java._trace
/.MyCoordinate.java._trace
/.Day16.java._trace
/.Day17.java._trace
/.Day18.java._trace
/.MiniLang.java._trace
/.Day19.java._trace
/.Day20.java._trace
/.Day18.xtendbin
/.Day19.xtendbin
/.Day20.xtendbin
/.MiniLang.xtendbin
/Day18.java
/Day19.java
/Day20.java
/MiniLang.java
/.Day1.xtendbin
/.Day10.xtendbin
/.Day11.xtendbin
/.Day12.xtendbin
/.Day13.xtendbin
/.Day14.xtendbin
/.Day15.xtendbin
/.Day16.xtendbin
/.Day17.xtendbin
/.Day2.xtendbin
/.Day3.xtendbin
/.Day4.xtendbin
/.Day5.xtendbin
/.Day6.xtendbin
/.Day7.xtendbin
/.Day8.xtendbin
/.Day9.xtendbin
/Day1.java
/Day10.java
/Day11.java
/Day12.java
/Day13.java
/Day14.java
/Day15.java
/Day16.java
/Day17.java
/Day2.java
/Day3.java
/Day4.java
/Day5.java
/Day6.java
/Day7.java
/Day8.java
/Day9.java
/.Day22.java._trace
