/.AgdaList.java._trace
/.Link.java._trace
/.ListUtils.java._trace
/.Collection.java._trace
/.AgdaList.xtendbin
/.Collection.xtendbin
/.Link.xtendbin
/.ListUtils.xtendbin
/AgdaList.java
/Collection.java
/Link.java
/ListUtils.java
/.BiMap.java._trace
/.Tree.java._trace
