/.Arithmetics.java._trace
/.Rational.java._trace
/.Arithmetics.xtendbin
/.Rational.xtendbin
/Arithmetics.java
/Rational.java
/.RationalExtensions.java._trace
/.GaussianElim.java._trace
/.SingularMatrixException.java._trace
/.GaussianElim.xtendbin
/GaussianElim.java
