/.Launcher.java._trace
/.Pair.java._trace
/.Singleton.java._trace
/.SNumber.java._trace
/.Launcher.xtendbin
/.Pair.xtendbin
/.SNumber.xtendbin
/.Singleton.xtendbin
/Launcher.java
/Pair.java
/SNumber.java
/Singleton.java
