/.Day1.java._trace
/.Day2.java._trace
/.Day3.java._trace
/.Day4.java._trace
/.Day5.java._trace
/.Day6.java._trace
/.Day7.java._trace
/.Day8.java._trace
/.Day9.java._trace
/.Day10.java._trace
/.Day11.java._trace
/.Day12.java._trace
/.Day13.java._trace
/.Day1.xtendbin
/.Day10.xtendbin
/.Day11.xtendbin
/.Day12.xtendbin
/.Day13.xtendbin
/.Day2.xtendbin
/.Day3.xtendbin
/.Day4.xtendbin
/.Day5.xtendbin
/.Day6.xtendbin
/.Day7.xtendbin
/.Day8.xtendbin
/.Day9.xtendbin
/Day1.java
/Day10.java
/Day11.java
/Day12.java
/Day13.java
/Day2.java
/Day3.java
/Day4.java
/Day5.java
/Day6.java
/Day7.java
/Day8.java
/Day9.java
/.Day14.java._trace
/.Day14.xtendbin
/Day14.java
/.Day15.java._trace
/.Day16.java._trace
/.Day16Old.java._trace
/Day16Old.java
/.Day17.java._trace
/.Day18.java._trace
/.Day19.java._trace
/.Day20.java._trace
/.Day21.java._trace
/.Day22.java._trace
/.Day23.java._trace
