/.AStar.java._trace
/.State.java._trace
/.NotInitializedException.java._trace
/.AStar.xtendbin
/.NotInitializedException.xtendbin
/.State.xtendbin
/AStar.java
/NotInitializedException.java
/State.java
