/.Coordinate.java._trace
/.Coordinate.xtendbin
/Coordinate.java
/.Interval.java._trace
/.Intervals.java._trace
/.Triplet.java._trace
/.Interval.xtendbin
/.Intervals.xtendbin
/.Triplet.xtendbin
/Interval.java
/Intervals.java
/Triplet.java
/.CoordinateSet.java._trace
/.Direction.java._trace
/.Dir.java._trace
/.Rectangle.java._trace
