/.Launcher.java._trace
/.Instruction.java._trace
/.Input.java._trace
/.BinaryInstruction.java._trace
/.Addition.java._trace
/.Multiplication.java._trace
/.Modulo.java._trace
/.ALUException.java._trace
/.Division.java._trace
/.Equality.java._trace
/.Counter.java._trace
/.Launcher.xtendbin
/Launcher.java
