/.Either.java._trace
/.Either.xtendbin
/Either.java
/.Arithmetics.java._trace
/.Runner.java._trace
/.RunnerWithMemory.java._trace
/.RunnerWithMemory2.java._trace
/.MemoryRunner.java._trace
/.PatternRunner.java._trace
