/.Day1.java._trace
/.Day1.xtendbin
/.Day2.java._trace
/.Day2.xtendbin
/.Day3.java._trace
/.Day3.xtendbin
/.Day30.java._trace
/.Day31.java._trace
/.Day32.java._trace
/.Day33.java._trace
/.Day34.java._trace
/.Day35.java._trace
/.Day4.java._trace
/.Day4.xtendbin
/.Day5.java._trace
/.Day5.xtendbin
/.Day6.java._trace
/.Day6.xtendbin
/Day1.java
/Day2.java
/Day3.java
/Day4.java
/Day5.java
/Day6.java
/.Day7.java._trace
/.Day8.java._trace
/.Day9.java._trace
/.Day10.java._trace
